## 파이썬 HW5
이름: 서준호

학번: C389034

### 문제 1) 모양
주어진 기호와 중앙에서 부호의 최대 길이를 인수로 입력받아 삼각형 모양을 출력하는 함수
``` 
예) triangle('*', 3)   

*   
**   
***   
**   
*
```

In [6]:
def triangle(shape, max_num):
    for i in range(1, max_num + 1):
        print(shape * i)
    
    for i in range(max_num - 1, 0, -1):
        print(shape * i)

In [8]:
# 문제 1 확인
triangle('$', 5)

$
$$
$$$
$$$$
$$$$$
$$$$
$$$
$$
$

### 문제 2)
연도를 입력받아 윤달인지 아닌지 판정하는 함수 is_leap_year() 작성
- 연도가 4로 나누어지면 윤년
- 예외1: 100으로 나누어지면 윤년이 아님
- 예외2: 100으로 나누어지는 해중 400으로 나누어지면 윤년
- 입력 검증은 안해도 됨

In [9]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

In [19]:
# 문제1 확인
test = [2000, 2016, 2017, 2100]
for year in test:
    if is_leap_year(year):
        print(year, "년은 윤년")
    else:
        print(year, "년은 윤년이 아님")

2000 년은 윤년
2016 년은 윤년
2017 년은 윤년이 아님
2100 년은 윤년이 아님

### 문제 3)
아래와 같이 실행되는 비밀번호 확인 프로그램을 작성하라.

실행 예) <br>
비밀번호를 입력하세요: 1234 <br>
비밀번호가 틀렸습니다. <br>

비밀번호를 입력하세요: my1234 <br>
환영합니다.

In [31]:
def check():
    key = 'my1234'
    
    while True:
        password = input("비밀번호를 입력하세요: ")
        
        if password == key:
            print("환영합니다.")
            break
        else:
            print("비밀번호가 틀렸습니다.")

check()

환영합니다.

In [32]:
# 문제3 확인
check()     # 1234와 my1234 입력하여 확인

비밀번호가 틀렸습니다.
환영합니다.

### 문제 4)
다음 합계를 반환하는 함수 sum_sq()를 작성하라

$$  \sum_{k=1}^{n} k^2 $$

In [22]:
def sum_sq(n):
    result = 0
    
    for k in range(1, n+1):
        result += k ** 2
    
    return result

In [24]:
# 문제 3 확인
sum_sq(10)

385

### 문제 5)
주어진 is_prime()함수를 이용해서, 숫자를 입력받아 받은 숫자의 갯수 만큼의 소수를 리스트로 반환하는 함수를 작성하라
- argument가 정수인지 검증하지 않음

In [25]:
def is_prime(n):
    prime = True
    if n < 2:
        prime = False
    else:
        for i in range(2, n):
            if n % i == 0:
                prime = False
                break
    return prime

def get_prime(n):
    count = 0
    result = []
    number = 2
    
    while count < n:
        if is_prime(number):
            result.append(number)
            count += 1
        number += 1
    
    return result

In [26]:
# 문제 4 확인
result = get_prime(20)
print(result)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

### 문제 6)
크기가 m x n인 2차원 행렬(리스트)에서 주어진 값 x 보다 큰 원소의 리스트와 합을 반환하는 함수를 작성하라

In [27]:
def sum_positive_element(a, x):
    result = []
    result_sum = 0
    
    for row in a:
        for element in row:
            if element > x:
                result.append(element)
                result_sum += element
    
    return result, result_sum

In [28]:
# 문제 6 확인
a = [[1,  2,  3,  4],
     [5,  2,  7,  8],
     [9, 10, 11, 12]]
result_list, result_sum = sum_positive_element(a, 7)
print(result_list)
print(result_sum)

[8, 9, 10, 11, 12]
50

### 문제 7)
(a) fibo()함수를 이용하여 n항까지 피보나치 수열의 리스트를 반환하는 함수 get_fibo()을 작성하라.

In [29]:
def fibo(n):
    if n == 1 or n == 2:
        return 1
    
    a, b = 1, 1
    for i in range(1, n):
        a, b = b, a + b  
    return a

def get_fibo(n):
    fibo_list = []
    
    for i in range(1, n + 1):
        fibo_list.append(fibo(i))
    
    return fibo_list

In [30]:
# 문제 6 (a) 확인
get_fibo(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

(b) list comprehension과 fibo()함수를 이용해서 (a)번 문제를 한 줄로 코딩하시오.

In [25]:
# 한줄 코드 작성

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 문제 8)
어떠한 입력이 들어와도 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성하라.

In [33]:
def avg_numbers(*args):
    return sum(args) / len(args) if args else None

In [34]:
# 문제 8 확인
print(avg_numbers(1, 2))
print(avg_numbers(1, 2, 3, 4, 5))

1.5
3.0

### 문제 9)
다음 리스트는 축구선수의 last name, first name, position, hight(cm), weight(kg)을 리스트로 표시한 자료이다.

In [35]:
# [Last_name, first_name, position, height_cm, weight_kg]
football = [["Hwang", "Uijo", "FW", 183, 73], 
         ["Son", "Heungmin", "MF", 183, 78],
         ["Hwang", "Heechan", "MF", 177, 77], 
         ["Kim", "Minjae", "DF",190, 88], 
         ["Jo", "Hyeonwoos", "GK", 189, 75],
         ["Hong", "Chul", "DF", 176, 70],
         ["Park", "Jisu", "DF", 187, 77],
         ["Kim", "Shinwook", "FW", 196, 93]
         ]

a) 축구 선수 리스트를 last name 순으로 정렬하라.

In [37]:
football.sort(key=lambda player: player[0])

for player in football:
    print(player)

['Hong', 'Chul', 'DF', 176, 70]
['Hwang', 'Uijo', 'FW', 183, 73]
['Hwang', 'Heechan', 'MF', 177, 77]
['Jo', 'Hyeonwoos', 'GK', 189, 75]
['Kim', 'Minjae', 'DF', 190, 88]
['Kim', 'Shinwook', 'FW', 196, 93]
['Park', 'Jisu', 'DF', 187, 77]
['Son', 'Heungmin', 'MF', 183, 78]

b) 축구 선수 리스트를 키의 역순으로 정렬하시오.

In [38]:
sorted_players = sorted(football, key=lambda player: player[3], reverse=True)

for player in sorted_players:
    print(player)

['Kim', 'Shinwook', 'FW', 196, 93]
['Kim', 'Minjae', 'DF', 190, 88]
['Jo', 'Hyeonwoos', 'GK', 189, 75]
['Park', 'Jisu', 'DF', 187, 77]
['Hwang', 'Uijo', 'FW', 183, 73]
['Son', 'Heungmin', 'MF', 183, 78]
['Hwang', 'Heechan', 'MF', 177, 77]
['Hong', 'Chul', 'DF', 176, 70]

c) 축구 선수 리스트를 키가 180이상인 선수를 체중이 무거운 순서부터 정렬하시오

In [41]:
heavy_players = sorted(football, key=lambda player: (player[3], player[4]))

for player in heavy_players:
    print(player)

['Hong', 'Chul', 'DF', 176, 70]
['Hwang', 'Heechan', 'MF', 177, 77]
['Hwang', 'Uijo', 'FW', 183, 73]
['Son', 'Heungmin', 'MF', 183, 78]
['Park', 'Jisu', 'DF', 187, 77]
['Jo', 'Hyeonwoos', 'GK', 189, 75]
['Kim', 'Minjae', 'DF', 190, 88]
['Kim', 'Shinwook', 'FW', 196, 93]

d) list comprehensio을 이용해서 축구 선수 리스트에서 full name list를 만드시오    
full name = first name + last name   
ex) Heungmin Son

In [42]:
full_names = [f"{player[1]} {player[0]}" for player in football]

for name in full_names:
    print(name)

Chul Hong
Uijo Hwang
Heechan Hwang
Hyeonwoos Jo
Minjae Kim
Shinwook Kim
Jisu Park
Heungmin Son